
<div class="container mt-3">
    <nav ngbNav #nav="ngbNav" class="nav nav-pills">
        <ng-container ngbNavItem>
          <a ngbNavLink routerLink="home">Home</a>
        </ng-container>
        <ng-container ngbNavItem>
          <a ngbNavLink routerLink="lista">Lista</a>
        </ng-container>
        <ng-container ngbNavItem>
          <a ngbNavLink routerLink="productos" >Productos</a>
        </ng-container>
        <ng-container ngbNavItem>
            <a ngbNavLink routerLink="login">Login</a>
        </ng-container>
      </nav>
</div>
